table {
    width:250px!important;
    table-layout: fixed!important;
    border-spacing: 1em;
    border-style: dotted;
    border-color:white;
    border-width: 1px;  
    overflow-x: scroll;
}

td{
    
    width: 180px!important;
    height: 76px!important;
    overflow:hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin-right: 1em!important;
    color:white;
 

}
.td-design{
    background: #606060;
    font-family: monospace;
    padding-left: 0.5em;
    /* margin-top: -39%; */
    position: relative;
}

.project_create{
    padding: 1em;
    background: #063479;

}
.project_create > .label.active{
    color: white;
}
.project_create > .button-group{
    display: flex;
    padding-left:0em;
}
.project_create > .button-group >button{
    margin-right: 1em;

}
.project_create > .error{ 
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  display: none;
}
.project_create > .error.show{ 
  color: red;
  position: inherit;
  background: white;
  display: block;
}



.network_create{
    background: #408af8;
    border-radius: 0.2em;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    text-align: center;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;    
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}

.network_modal{
    background: #33373dd9;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;  
}
.network-container > .material-icons.back{
    font-size: 2em;
    border: solid;
    border-radius: 2em;
    margin: 0.2em;
    color: #063479;
    cursor: pointer;
    margin-top: -12%;
    margin-left: 87%;
    position: absolute;
    background: white;
}
.network-container > .material-icons.back:hover{
    color: white;
    background: #063479;
}


.geometry_info,.phase_info{
    color: #213653;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    background-color: #c6cfdd;
    font-weight: 600;
}
.geometry_create,.phase_create,.network_create{

    background: #408af8;
    border-radius: 0.2em;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    text-align: center;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;    
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.network_create{
    position: absolute;
    padding:2em;
    margin: 1em;
    color: white;
}
.geometry_create:hover,.phase_create:hover,.network_create:hover{
    background: #267cfb;
    overflow: hidden;
}
.geometry_create:after,.phase_create:after {
    content: "";
    background: #f7fff7ad;
    display: block;
    position: absolute;
    padding: 100%;
    padding: 100%;    
    margin: -5em!important;
    opacity: 0;
    transition: all 0.8s;   
    overflow: hidden;;
}

.geometry_create:active:after,.phase_create:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.physics_info{
    background: aliceblue;
    position: relative;
    height: 100%;
    cursor: -webkit-grab; 
    cursor:-moz-grab;
    color: #6b7c93;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.physics_create{
    background: #408af8;
    border-radius: 0.2em;
    padding: 2em;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    text-align: center;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;    
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;    
    overflow: hidden;
    z-index:998;
}

.geometry_inside{
    background: white;
    padding: 2em;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
}

.phase_popup,.geometry_popup,.physics_popup{
    display: none;
    position: absolute;
    background: #282727d1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.phase_popup>.inside,.geometry_popup>.inside,.physics_popup>.inside{
    width: fit-content;
    background: white;
    height: fit-content;
    margin: auto;
    position: relative;
    padding: 2em;
    margin-top: 10%;
}

.show{
    display: block;
}
.column{
    margin:0.5em;
}
.material-icons.grid{
    cursor: pointer;
}
.material-icons.grid{
    cursor: pointer;

}
.material-icons.grid:hover{
   color: #267cfb;
}

.scrollable{
    width:100%!important;
    overflow-x: overlay!important;
    float: left;

}

select.popups{
    background-color: #FAFBFC;
    padding: 0.5em;
    border-radius: 4px;
}
select > option{
    font-weight: 800;
}


.editors{
    padding-top:0em;
}
.configure{
    position: absolute;
    top: 4em;
    right: 2em;
    width: 20em;
    background: white;
    background-color: white;
    box-shadow: 0px 0px 0px 3px #fff7f7;
}

.models{
    background: #252a34c9;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
}
.models-main{
    display: block;
    height: 90%;
    width: -webkit-fill-available;
    position: relative;
    overscroll-behavior-y: initial;
    overflow: auto;
}

.models-panel{
    background: white;
    position: relative;
    width: 25%;
    height: 100%;
    float: right;
}
.sub_models {
    padding: 1em;
    margin: 1em;      
    background: #d6d9dd;;   
}

.sub_models.attach{
      
    min-height: 16.5em;
}

.close_button{
    height: 3em;
    top:0;    
    background: #0747a6;
    color: white;
    border-radius: 0em;
    cursor: pointer;
  
}
.close_button > i{
    font-size: 44px;
}
.close_button:hover{
    
    color:#101113;    
    border-radius: 0em;
    cursor: pointer;
}


/** custom input radio **/

.label_radio {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: inherit;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor:pointer;    
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    bottom: -5px;
    left: 0;  
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 20%;

}

/* On mouse-over, add a grey background color */
.label_radio:hover input[type="radio"] ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label_radio input[type="radio"]:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label_radio input[type="radio"]:checked ~ .checkmark:after {
  display: block;
}

.label_radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.attach_models{
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;    
    font-weight: 500;
    font-size: 15px;
    display: flex;
    margin-bottom: 0.5em;
}
.attach_models > i{
    cursor: pointer;
    
}
.attach_models > i:hover{
    color: red;   
}

.column > span{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

.drop_here{
    background: #27b386;
    border: dotted;
    padding: 2.8em;
}

.cloud{
    cursor: pointer;
}

.cloud > svg{
    position: absolute;
    top:var(--header-height);
    left: calc(100% - 8em);
    stroke: #0747a6;;
    stroke-width: 0.05em;
/*    stroke-dasharray:2; 
    stroke-dashoffset:170;*/

}


/*****  SIMULATION CANVAS STYLE**********/

.ui.secondary.vertical.menu.right-menu{
    display: none;
    position: absolute;
    left: 586px;
    top: 141px;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
}
.ui.column.property-box{
    background-color: #272822;
    display: none;
    position: absolute;   
    left: 320px;
    top: 143px;    
    padding: 2em;
}

.ui.secondary.vertical.menu.node-menu{
    display: none;
    position: absolute;
    left: 586px;
    top: 141px;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
}

/**************/


.side-viewer{
    display: block;
    height: 60%;    
    position: absolute;
    overscroll-behavior-y: initial;
    overflow: auto;    
    top: 5%;
    background: white;
    right:2%;
    padding: 1em;
}
.cube-design{

}
.sphere-design{
    display: none;
}

/*******icon*******/
.grid.position{
    position: relative;
    top: 5px;
}


.ui.dropdown.options{
    float: right;
    width: 2em;
    height: 1.7em;
    margin-top: -0.5rem;
    font-size: 20px;
    text-align: center;
    background: inherit;
    color: white;
}
.ui.dropdown.options:hover{
    background: #072b61;
}

.ui.dropdown .menu>.item{
    font-size: 13px!important;
    font-family: sans-serif;
}


.description{
    display: inline-flex;
}
.panel-settings{
    display: inline-flex;
}

.loading{
    top: 0;
    left: 0;
    /* bottom: 0; */
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0747a6;;
    z-index: 3000;
    text-align: -webkit-center;
}
.loader-logo{
    margin-top: 10%;
    font-family: 'Luckiest Guy';
    color: #fdf9f9;
    font-size: 3em;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.help{
    display: none;
    width: 15%;
    height: 40%;
    position: absolute;
    right: 2em;
    float: right;
    bottom: 3em;
    background-color: #fafafa;
    box-shadow: 0 0 5px #cdc7c7;
    border-radius: 0.3em;
    word-wrap:break-word;
}

.help > .heading{
    text-align: center;
    width: initial;
    height: 71%;
    background: #0f47a6c7;
    font-family: monospace;
    color: white;
    font-size: 1.5em;
    padding-top: 0.5em;
    border-radius: 0.3em 0.3em 0 0;
}

.help > .description{
    overflow: overlay;
    padding: 0.5em;
    display: block;
}

.ajax_response{
    display: none;
    width: 15%;
    height: 10%;
    position: absolute;
    right: 2em;
    float: right;
    top: 3em;
    background-color: #f6c6c6;
    box-shadow: 0 0 5px #cdc7c7;
    border-radius: 0.3em;
    border-radius: 0.3em 0.3em 0 0;
}
.ajx_request{
    background-color: #9ed79c;
}
.ajax_response.ajx_request>.heading{
    background: #80ba7e;
    color: #2b7444;
}
.ajax_response > .heading{
    width: initial;
    height: 25%;
    background: #df6e6e;
    color: #910606;
    font-family: monospace;
    text-align: center;
    padding-top: 0.5em;
}

.ajax_response > .message{
    padding: 1em;
}

.attach_model_text{
   cursor: pointer;   
}
.attach_model_text:hover{
   font-weight: bold;
   background: #acacac;
   padding-bottom: 0.5em;
}

.type_header{
    background: #606060;
    color: aliceblue;
    padding-left: 0.5em;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.2em;
}

.column.grid{
    display: grid;
}
.main_division{  
    width: 100%;
    
}

.main_division.item:hover{
    background: #01193c;
}
.upload_pnm{
    width: 50%;
    height: 40%;
    padding: 2em;
    box-shadow: 0 0 1px 0px black;
    background-color: #0747a6;
    font-family: monospace;
    font-size: xx-large;
    position: unset;
    margin: auto;
    margin-top: 10%;
    cursor: pointer;
    border: dashed;
    text-align: center;
    vertical-align: middle;
    line-height: 12em;  
    border-color: #f3f6fc;
    color: white;
}
.upload_pnm>span{

}
.upload_file{
    opacity: 0;
    position: absolute;
    width: 50%;
    height: 53%;
    margin: auto;
    margin-left: 17%;
    cursor: pointer;
}

.alertify-logs.top{
    top:3em;
    z-index:2000;
}
#modal_design {
    position: absolute;
    z-index:8000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #171717b3;
    display: none;
}
.modal_div{
    background: white;
    margin-right: auto;
    position: relative;
    margin-left: auto;
    width: min-content;
    padding: 2em;
    margin-top: 15%;
    border-radius: 0.5em;

}
.modal_div >*{
    padding: 0.5em;
}


/** Settings.html css ****/
.settings_board{
    padding: 2em;
    background: #ffffff;
    width: 60%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 0 2px black;
}
.settings_header{
    font-family: monospace;
    padding: 0.5em;
    color: white;
    position: absolute;
    font-size: 2em;
    background-blend-mode: color-dodge;
    background: #0747a6;
    left: 30%;
    top: 11%;
}
.settings_board>.column>.property{
    font-family: monospace;
    font-size: 20px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

