/* sidebar design */

.pusher{
    background-color: rgba(0, 0, 0, 0)!important;
    width:80%;
}
body.pushable{
    background-color: rgba(2, 2, 2, 0.93)!important;

}
.ui.left.sidebar {
    overflow: hidden;
    background-color: rgb(39, 40, 34);
    /*width: 190px;*/
    box-shadow: 0 0 20px rgb(0, 0, 0)!important;
}
.ui.left.network.sidebar {
    background-color: rgb(39, 40, 34);
    width: 300px;
    padding-left:1.5em;
    box-shadow: 0 0 20px rgb(0, 0, 0)!important;
}
.ui.visible.left.sidebar~.pusher {
    -webkit-transform: translate3d(260px,0,0);
    transform: translate3d(270px,0,0);
}
.ui.visible.right.sidebar~.pusher {
    -webkit-transform: translate3d(260px,0,0)!important;
    transform: translate3d(270px,0,0)!important;
}

@media screen and (min-width: 0px) {
   .ui.right.sidebar {
    width: 28%;
    background-color: #272822;
    padding: 1em;

    }
}
@media screen and (max-width: 720px) {
   .ui.right.sidebar {
    width: 28%;
    background-color: #272822;
    padding: 1em;

    }
}

.ui.label{
    background-color:rgba(232, 232, 232, 0)!important;
    color:#060606!important;
}
.ui.label.logo{
    background-color:rgba(232, 232, 232, 0)!important;
    color:#e8e8e8!important;
    top:0!important;

}

.select-menu{
    background-color: #4182c4!important;
    color: #cbd7f0!important;
}

.ui.vertical.menu {
    background: #101010!important;
}

.vertical.menu  .item {
    background-color: rgba(255, 228, 196, 0);
    /* background: 0 0; */
    padding: .5em 1.33333333em;
    cursor:pointer;
    font-size: 0.997143em;
    color: rgb(206, 194, 234);
}
.vertical.menu .item .hover{
    background-color: rgba(255, 228, 196, 0)!important;
    /* background: 0 0; */
    padding: .5em 1.33333333em;
    font-size: 0.997143em!important;
    color: rgb(206, 194, 234)!important;
}

 .vertical.menu .active.item {
    background: #1f5cdc!important;
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
}


.item-design{
   font-size: 16px!important;
   color: #e5e8ea;
   padding: 10px;   

}
.ui.input.edit-net{
    border: 1px solid rgb(144, 133, 133)!important;
    border-radius:3px;
}

.ui.icon.input>i.link.icon {
    cursor: pointer;
    color: aliceblue;
}
i.icon.white{
    cursor: pointer;
    color: #fffcfc!important;
}

.ui.bottom.sidebar {
    top: auto!important;
    bottom: 35!important;
    left: 94%;

}
.ui.bottom.message {
    background: rgba(248, 248, 249, 0);

}




/***/
/*********** Custom Navigation  Bar ********/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/******************************************/















/** desing buttons ***/
.ui.labeled.icon.button, .ui.labeled.icon.buttons .button{
    background-color:inherit;   
    color:#009473;
    padding-left: 2.5em!important;
    border-style: double;
    border-color: #009473;
    border-spacing: 2em;
}
.ui.labeled.icon.button.add-types{
    background-color:#1f5cdc;   
    color:#ffffff;
    padding-left: 1.5em!important;
    border-style: double;
    border-color: #1f5cdc;
    border-spacing: 2em;
    height: inherit;
    width: inherit;
    font-size: initial
}
.ui.labeled.icon.button.add-types-physics{
    background-color:#1f5cdc;   
    color:#ffffff;
    padding-left: 1.5em!important;
    border-style: double;
    border-color: #1f5cdc;
    border-spacing: 2em;
    height: 6em;
    width: 11em;
    font-size: initial
}
.ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
    background-color: inherit;
    top: 60%;
    left: 45%;
    width:0;
    height: 0;
    font-size: x-large;
}
.td-design{
    background-color:#4a5a7b;   
    color:#ffffff;
    padding-left: 0.5em!important;
    padding: 0.5em;
    border-color: #1f5cdc;
    border-spacing: 2em;
    height: inherit;
    width: inherit;
    font-size: small;
    font-style: italic;
    font-weight: 400;
}

.ui.buttons{
    margin: 0 .25em 1% 0px!important;
}

.label-buttons{
    width: 16em;
    background: #000000!important;
    color: #ffffff!important;
}

/***/
/** dropdown and input  custom design ***/
.ui.dropdown.network-type{
    left:0px!important;
}
.ui.selection.dropdown{
    background-color: #007959;
    color:rgba(202, 202, 202, 0.87);    
    font-size:12.5px;
    text-align: center;
    left:50;
}
.ui.selection.dropdown.model {

    background-color: #007959;
    color: rgba(202, 202, 202, 0.87);
    font-size: 0.7em;
    text-align: center;
    left: 1em;
    bottom: 1em;
}
.ui.input.model input {
    background-color: #43443f!important;
    color:#d55d62;
    font-weight: bolder;
}

.ui.input.model input:focus, .ui.input.model.focus input {
    border-color: #565656;
    background: #fff;
    color: rgba(243, 241, 241, 0.84);
    box-shadow: none;
}
.position-right{
    width: 13em;
    padding-top: 0.65714em!important;
    padding-bottom: 0.85714em!important;
    background-color: #615e55!important;
    color: #f9f6f2!important;
    margin-left: 30!important;
    margin-top: 5%!important;
}
.position-right:hover{    
    background-color: #676561!important;     
}

.c-inputs{
    font-size: 1.2em!important;

}
.ui.label.line-height: {
    line-height: 3!important;
}
/***/


/***/

/* dividers design  and box*/

.custom-divider{
    width: 1px!important;
    height: 100%;
    background-color: grey;
}

.box-grid{
    padding: 1em!important;
    padding-right: 1em!important;
    border-style: solid;
    border-color:#2a2e36;
    border-width: 1px;
    margin: 1em!important;
}
.sbox-grid{
    padding: 1em!important;
    padding-right: 1em!important;
    padding-top: 0em!important;
    border-style: solid;
    border-color:#2a2e36;
    border-width: 2px;
    margin: 0.5em!important;
    margin-top: 0em!important;
    width:24em;
    height:20em;
    float:left;
}
.contain-grid{
    display: inline;
}
/*******/
/**

/**



/** label design **/
.ui.column.label-design{   
   font-size: 1em;
   padding: 10px!important;
   border-bottom:1.5px solid #1f5cdc;
   color:#c2c5cc; 
   position: relative;
   margin:0px!important;
   margin-bottom: 0.5em!important;
  
}
.font-design{
    font-size:1.5em;
    color:#c2c5cc;
}
.heading-design{   
   font-size: 1.2em;
   font-weight: bold;
   border-bottom: 1px solid #c0c4cc;
   color:#fdfdfd; 
   display: block;
   margin-top: 0.0em;
   white-space: nowrap;
}
.ui.mini.label.inputs{
    color: white!important;
    font-size: 1em;
    padding-left: 0px;
}
/***/

/*** network **/
.network-inputs{
    float:left;
    padding: 1px;
    background-color: inherit;    
}
.network-inputs .ui.input input{
    background-color: inherit;
    color:;
}

/***/
.column{
    padding:5px;
}
.card-height{
    height: 5%;
}
.leftmenu{
    margin-left: 2%!important;
    margin-top:2%!important;
}
.network-details{
    margin-top:0.5%!important;
    margin-left:16%!important;
    position: absolute!important;
}
div.popup-hide{
    display: none!important;
}
div.popup-show{
    display: show!important;
}
.throat{
    width:3%!important;
}
.ui.selection.dropdown{
    min-width:12em!important;
}
.ui.segment{
    padding-left:1em!important;
    padding-bottom: 1em!important
    padding-top:2em!important;
    margin-left: 2em!important;
    margin-right:2em!important;
    margin-top:2em!important;

}

.network.invisible{
    display: none!important;
}
/*.graph-results{
    position:absolute;
    z-index:2;
    width:30%;
    height: 50%;
    border:2px solid black;
    opacity:0;
}*/

table {
    width:250px!important;
    table-layout: fixed!important;
    border-spacing: 1em;
    border-style: dotted;
    border-color:white;
    border-width: 1px;  
    overflow-x: scroll;
}

td{
    width: 180px!important;
    height: 76px!important;
    overflow:hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin-right: 1em!important;
    color:white;

}




.phase.design{
    border:1px hidden;
    border-radius: 2px;    
}

.geometry.design{
    border:1px hidden;
    background-color:  #80deea ;
    border-radius: 2px;  
}
.scrollable{
    width:100%!important;
    overflow-x: scroll!important;
    float: left;
}

.ui.grid .three.wide.column.design-phase{
   background-color:#c7451c!important;
}
.ui.grid .three.wide.column.design-geo{
   background-color:#009688!important;
}
.ui.grid .thirteen.wide.column.design-phase{
   background-color:#9e3919!important;
}
.ui.grid .thirteen.wide.column.design-geo{
   background-color:#1e4e4a!important;
}
.phase.text{
    font-size:12px;
    font-style: italic;

}
i.icon.centre{
    margin: 1px 0.25rem 3px 3px!important;
}

.physics-design{
    border:1px dotted #a2a9b1;
    border-radius: 2px;
    align-items: center;
}
.column.phy-centre{
    text-align: center;
    width: inherit;
    height: inherit;
}
.column.physics-design{
    border:none;
    width:10.3em;
    height: 6em;
    background: #28222d;
    border: 6px solid #40354a;
}
.ui.basic.button.rem-design{
    background: #922626 none!important;
    color: #ecd1d1!important;
}

.ui.mini.inverted.red.button.right{
    float:right;
}


/**** threjs div design ***/
.result-div{    
    z-index: 1000;   
    position: absolute;   
    color: #6d1511;
    background-color: #f0f3fb;
    width:600px;
    height:300px;
    border-radius:5px;
    top: 2em;
    right: 0;


}
.result-div .right{
    float:right;
}


/***/

/***/

.modal {
    padding:3em!important;
    display: block!important; /* Hidden by default */
    position: absolute!important; /* Stay in place */
    z-index: 1001; /* Sit on top */
    margin: 0 auto!important;
    right: 0!important;
    top: 0!important;
    width: 40%!important; /* Full width */
    height: 50%!important; /* Full height */
    overflow: auto!important; /* Enable scroll if needed */
    background-color: rgb(0,0,0)!important; /* Fallback color */
    background-color: rgba(0,0,0,1)!important; /* Black w/ opacity */
}

/**/



/****** login page *******/

.logo{
    top: 1em;
    font-size: 7em;
    color: rgba(8, 7, 7, 0.25);
    z-index: 5;
    position: relative;
}
.canvas-draw{
    height: 90%;
    z-index:1;
    
}


.ui.form.login{
    padding: 2%;
    background: #e8e8e8;
    width: 65%;
    position: relative;
    max-width: 96%;
}
.ui.message{
    line-height: 0.4285em!important ;
}
.ui.message .header{
    font-size: 1.0em!important;
}
/************************/


/********* Scroll bar design (taken from codepen)*********/
#style-2{
    margin-left: 1em!important;
    margin-right: 1em!important;   
    height: 6em!important;
    background-color: #34352e!important;
    overflow-y:scroll;
}
#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
    border-radius: 10px!important;
    background-color: #3d3e39!important;
}

#style-2::-webkit-scrollbar
{
    width: 12px!important;
    background-color: #484444!important;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: #5d5d5d!important;
}


/*************************************/


/******** file upload (model sidebar)*******/
.filename.design{
    width: 12em;
    background: rgba(146, 146, 137, 0.11);
    padding: 0.35em;    
    color: #948e8e;
    border-radius: 5px;
}
/****************************/


/******** Pop Up ************/

.ui.geo-loc.popup{
   
    position: fixed;
}

.ui.popup.types-design{

}
#help-content{
    width: 22em;
    overflow: scroll;
    height: 26em;
}
.ui.right.center.popup.network-help {
    margin: 0em 0 0 .71428571em!important;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    top: 1em!important;
}

/****************************/

/*********************/
.color-white{
    color:white;
}
    
/**********************/

/********buffer html **********/

.edit-geo{
    background: white;
    color: black;
    border: 2px solid red;
    border-radius: 2px;
    position: fixed;    
}

/******************************/

/********** accordian *********/

.ui.styled.accordion, .ui.styled.accordion .accordion {    
    background: #080707; 
    max-width: 80%;  
}
.ui.styled.accordion .accordion .active.title, .ui.styled.accordion .accordion 
.title:hover, .ui.styled.accordion .active.title, 
.ui.styled.accordion .title:hover,.ui.styled.accordion .title{
        color: rgba(241, 241, 241, 0.87);
}
/*******************************/



/*  table design*/

.td-design{
    height: 46px!important;
}



/** logic designs **/
.label-list{
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background: #278c5d;
    padding: 0.5em;
    border-radius: 0.1em;
    /* font-style: normal; */
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.algo-list{    
    margin: 0.5em;
    text-align: center;
    background: #278c5d;
    padding: 0.5em;
    border-radius: 0.1em;
    /* font-style: normal; */
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.logic-list{
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background: #214fa2;;
    padding: 0.5em;
    border-radius: 0.1em;
    /* font-style: normal; */
    font-weight: bold;
    color: white;
    cursor:pointer;
}


.logic-columns{
    width: 15em!important;
    
}
.dropbox{
    width: 17em;
    height: 11em;
    border: 0.1em dotted white;
}
/***/

/***/
.node:before{
  content:attr(title) " ";
  display: block;
  border-top-left-radius:.75em;
  border-top-right-radius:.75em;
  background-color:#6e6e6e;
  padding:0.1em .3em 0em;
  margin:-.1em -.3em 0.2em;
}
.node{
  background-color: #4e4e4e;
  border-radius: .75em;
  display: inline-block;
  padding:0.1em .3em .25em;
  position:relative;
}
.output,
.connection:after{
  position:absolute;
  border:solid 1px #dedede;
  background-color:#2e2e2e;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;  
}
.node.connected > .output,
.connection.filled:after{
  border:solid 1px transparent;
  background-color:#aeaeae;
}
.node > .output:hover,
.connection:hover:after{
  border-color:red;
}
.output{
  left: -.5em;
  top:1em;
  cursor: pointer;
}
.connection{
  width:100%;
  position:relative;
  padding-right:0.5em;
  cursor:pointer;
}
.connection:after{
  content:"";
  right:0em;
  top:0.25em;
}
#node-editor{
    top:0.45em;
    left:0.50em;
}
svg{ 
  top:0px;
  left:0px;
 
  width:50%;
  height:50%;
}

/***/

/***/


.property-input{
    color: white;
    line-height: 3;
    padding: 0.2em;
}

/****/


/*****  SIMULATION CANVAS STYLE**********/

.ui.secondary.vertical.menu.right-menu{
    display: none;
    position: absolute;
    left: 586px;
    top: 141px;
    background: white!important;
    color: black;
    border-radius: 0.5em;
    padding: 1em;
}


.ui.secondary.vertical.menu.node-menu{
    display: none;
    position: absolute;
    left: 586px;
    top: 141px;
    background: white!important;
    color: black;
    border-radius: 0.5em;
    padding: 1em;
}

/**************/

/******  error message***************/
.error-message{
    display: none;
    background: #3e0a0a;
    position: absolute;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    right: 0;
}

.saved-message{
    display: none;
    background: #3e0a0a;
    position: absolute;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    right: 0;
}

canvas{
    display: inline-block;
}
#simulation-editor{
    width:500px;
    height: 500px;
}
