:root{
	 --main-button-bgcolor: white;
	 --main-button-color:black;
     --main-width:3fr;
	 --side-nav-width:300px;
	 --profile-height:9em;
     --header-height:40px;
}

body{
	background:#f6f5f5;
    margin: 0;
}
   


header {
  grid-area: header;
}

nav {
  grid-area: nav; 
  background: #0747A6;
  margin-left: -0.5em;
  margin-top: -0.5em;
  border-right: solid 2px #cbd0d8;
}

main {
 margin-left: -0.5em;
 margin-top: -0.5em;  
 grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
  background: #0747a6;
  margin: -0.5em;
  padding-bottom: 2.5em;
}

ul{
	list-style-type: none;
	

}
ul>li{
	cursor: pointer;
	margin-left: -1em;
    padding-left: 0.5em;
}
ul>li:hover{	
	background: #e6ebf1;    
   
}
ul>li.list{    
    padding-top:0.5em;
    padding-bottom:0.5em; 
   
}
ul>li.list:hover,.selected_item,.list_item:hover{
    color: #d2d9e0;
    background: #063479;
}
.login-body{
     display: flex;
    align-items: center;
    justify-content: center
}


.center-logo{
    display: block;
    margin-top: -25em;
}
.center-logo > .logo-header {
    font-size: 10em;
    color: aliceblue;
}
.center-logo > .links {
    display: -webkit-inline-box;
    margin-left: 30%;
}

.list_item{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    display: -webkit-box;
    color: #f5f0ec;
}

.list_item > div{
    padding-left: 0.5em;
    padding-top: 0.175em;
}


ul>li>a{
	font: 13px/18px Source Code Pro,monospace;
	text-decoration: none;
	color: #d2d9e0;
    font-weight: 700;
    font-size: medium;
}


.header{	
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;	
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.header.logo{
   background: #063479;
}
.header.logo >img {    
    height: 3.8em;
}


.header.group{    
    font-size: 1em;
    font-weight: 600;
}
.header.group > a{
    padding:0.5em;
    padding-left:1em;  
    text-decoration: none;
    color: #f7f2f2;
}
.header.group>a:hover {
    text-decoration: none;
    background: #6a81a0;;
    color: #f7f2f2;
}
.container{
	display: grid;
	grid-template-areas:
	   
	    "nav content";

	grid-template-columns: 20em 3fr;
	grid-template-rows: 99vh 1em;
	grid-gap:0.5em;
	
	height: 98vh;
    overflow: hidden;
}

.networks-list::before{
	content: "Projects";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: monospace;
    letter-spacing: .025em;
    color: #fafcff;
    border-radius: 3px;    
    padding: 0 3px;
    margin-right: 2px;
}
.networks-list{
	padding:1em;
	border-top: solid 1px #4172c1;

}
.profile-section{
	height: var(--profile-height);
	background: #0747A6;
}

.dashboard{
	background: white;
    margin: 8px;
}


.nav-login{
	background: transparent;
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.log-sign-btn{
	background: white;
	color: black;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.log-sign-btn:hover{
	background: black;
	color:white;
}
.login-pg-modal{
	width:20%;
}
.nav-dashboard{
	background: #0f5447ad;
	float:right;
	width:calc(100% - var(--side-nav-width));
}


.common-button--default{
	color: white;
    background: #6772e5;
    margin-left: 2em;
    position: absolute;
    top:calc(var(--profile-height) - 1em);

}
.common-button--default:hover{
	color: white;
    background: #404cca;
    margin-left: 2em;
    position: absolute;
    top:calc(var(--profile-height) - 1em);

}
.common-button{

	white-space: nowrap;
    display: inline-block;
    height: 40px;
    width: 23em;
    line-height: 40px;
    padding: 0 10px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;    
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;    
    text-decoration: none;
    transition: all .15s ease;
}


.network-container{
	width: 25em;
	position: relative;    
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    margin-top: 2%;
    padding: 30px;
}

.network-container > label,.network-container > div >label , label{
    color: #707070;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 1em;

}
.network-container > input,.network-container > div >input,input{
	height: 32px;
	border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    background-color: #FAFBFC;
    padding: 1em;
    margin: 0.2em;

}
.network-container .network-type{
	padding: 0.5em;
	background: #f5f5f5;
	font-family:sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    border-radius: 2px;
    color:#56647b;;
}
.dropdown-menu{
    display: none;
}
.show_popup{
    display: block;
    position: absolute;
    border: solid #bfbaba 1px;
    border-radius: 7px;
    top:0.2em;
    background: white!important;

}


.header > h1{
	font-size: 1.71428571em;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
    margin-top: 28px;
    color: #172B4D;
    text-transform: none;
    border-bottom:solid 1px #ccc;
}
.header > h2 {
    font-size: 1.71428571em;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
    color: #172B4D;
    margin-top: -0.5em;
    padding-bottom: 0.3em;
    text-transform: none;
    border-bottom:solid 1px #ccc;
}

.button-primary{
    cursor: pointer;
    border-radius:4px; 
    color: #FFF;
    padding:0.5em;
    background: #0052CC;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    letter-spacing: -.005em;
    transition: background .1s ease-out,box-shadow .15s cubic-bezier(.47,.03,.49,1.38);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: 0;
    height: 2.28571429em;
    line-height: 1.57142857em;
    box-shadow: 0 0 8px 0px #000000d1;
}
.button-primary:hover{
    background-color: #0065FF;
    box-shadow: 0 0 15px black;
}
.button-primary.icon{
    position: relative;
    top: 0.6em;
    padding-bottom: 2.2em;
}
.button-primary.icon > i{
    line-height: 0.;
}

.button-disabled{
    background: #969ca5;
}
.button-group{
    padding-top: 1em;
    padding-left: 14em;
}
.button-group.left{
    padding-top: 1em;
    padding-left: 0em;
}

.common-header{
    text-align: right;
    white-space: nowrap;
    line-height: 2em;
    height: 40px;
    background: #e7eaed;
    padding: 0 10px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;   
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;    
    text-decoration: none;
    transition: all .15s ease;
   
}

.common-header > a{
    text-align: center;
    cursor: pointer;
    margin-left: 3em;
    padding: 2em;
    padding-bottom: 0.9em;
    
}
.common-header > a:hover,.selected{
    cursor: pointer;
    background: #091c46;
    color: #f5f0ec;;    
    
    
}




.logo-tag {
    width: 100%;    
    font-size: 3em;
    font-family: sans-serif;
    /* font-weight: 700; */
    text-align: center;
    font-variant-caps: small-caps;
    color: #4a3c98;
    /* margin: 30px auto; */
    box-shadow: 0 0 7px #bfbfbf;
    background: #ffffff;
    

}


.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #3c5fc9;
    margin: 0 auto;
    margin-top: 5%;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: monospace;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#login-username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#login-username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#email {
    background: #fff url('/web/svg/mail.svg') 20px top no-repeat;
    background-size: 16px 80px;
}
.login-block input#email:focus {
    background: #fff url('/web/svg/mail.svg') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#login-password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#login-password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button,.login-block a {
    display: block;
    width: 100%;
    height: 40px;
    background: #0f4aab;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #506ad7;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: monospace;
    outline: none;
    cursor: pointer;
}

.login-block button:hover,.login-block a:hover {
    background: #0a3376;
}
.login-block a{
    text-align: center;
    text-decoration: none;
    line-height: 2.5em;
}

.error_message{
    background: #ebebeb80;
    color: #d53232;
    margin: auto;
    text-align: center;    
    margin-top: -7px;
    font-family: sans-serif;
    display: none;
    font-style: italic;
    font-size: 0.8em;
   
}
/*network-container > label, .network-container > div >label, label {
    color: #fff7f7;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 1em;
}
.login_container{
    margin: auto;
    width: 50%;
}
.tab-content{
    margin: auto;
    width: 50%;
    padding: 2em;
}*/