{% verbatim %}
<div class="type_header">Geometry</div>
<div class="description">
	<div>
		<div class="column">
				<span class="phase text">Name:{{geo.name}}</span>
		</div>
		<div class="column">
				<span class="phase text">Type:{{geo.type}}</span>
		</div>
		<div class="column">
				<span class="phase text">Pores:{{geo.pores}}</span>
		</div>
		<div class="column">
				<span class="phase text">Throat:{{geo.throats}}</span>
		</div>
	</div>	
	<div class="column grid">	
			<i class="material-icons grid" ng-click="main.removeGeometry(network.open_project,geo.name)" >delete</i>		
			<i class="material-icons grid" ng-click="main.viewModels('geometry',geo.name,geo.type)" show-sidebar>settings</i>	
				
	</div>
	

</div>
{% endverbatim %}
