{% verbatim %}
	
<div  class="editors" ng-controller="LabelLogicController as logic" ng-init="logic.init(network.open_project)">
	
	
		<div   node-editor>			
			
			<canvas  id="editor" tabindex="0"></canvas>
			<div class="graph">
				<div class="options" ng-click="logic.saveDataToDB()">
						<i class="material-icons">save</i>
				</div>
				<div class="options" ng-click="logic.resetZoom()">
						<i class="material-icons">refresh</i>
				</div>			
			</div>
			<div class="ui secondary vertical menu right-menu" id="right-menu">
				
				<div class="ui dropdown item design" >
					    <i class="dropdown icon"></i>
					    Pores
					    <div class="menu">
							<a class="item" ng-repeat="value in logic.getLabels() track by $index"  ng-click="logic.addLabel(value)">{{value}}</a>	   
						</div>						  	
				</div>
				<div class="ui dropdown item design" >
					    <i class="dropdown icon"></i>
					    Throats
					    <div class="menu">
							<a class="item" ng-repeat="value in logic.getLabels('throat') track by $index"  ng-click="logic.addLabel(value,'throat')">{{value}}</a>	   
						</div>						  	
				</div>
				<div class="ui dropdown item design" >
					    <i class="dropdown icon"></i>
					    Operations
					    <div class="menu">
							<a class="item" ng-repeat="(key,value) in logic.getLogics()"  ng-click="logic.addLogicNode(value)">{{value}}</a>	   
						</div>						  	
				</div>

				<div class="ui dropdown item design" >
					    <i class="dropdown icon"></i>
					    Queries 
					    <div class="menu">
							<a class="item" ng-repeat="value in logic.queries track by $index"  ng-click="logic.addQueryNode(value)">{{value}}</a>
							<a class="item" ng-click="logic.showLabelModal()">spatial</a>	 	   
						</div>						  	
				</div>

				<div class="ui dropdown item design" >
					 <div ng-click="logic.clearCanvas()">Clear</div>	   
				</div>

			</div>
			<!-- <div class="right_menu drop_menu" id="right-menu">

				<div class="dropdown item" >
					     <div class="name">Pores</div>					    
					    <div class="menu">
							<a class="item" ng-repeat="value in logic.getLabels() track by $index"  ng-click="logic.addPoresLabel(value)">{{value}}</a>	   
						</div>						  	
				</div>

				<div class="dropdown item" >
					     <div class="name">Logics</div>						    
					    <div class="menu">
							<a class="item" ng-repeat="(key,value) in logic.getLogics()"  ng-click="logic.addLogicNode(value)">{{value}}</a>	   
						</div>						  	
				</div>

				<div class="dropdown item" >
					    <div class="name">Neighbour_throats</div>
					    <div class="menu">
							<a class="item" ng-repeat="value in logic.throatmodes track by $index"  ng-click="logic.addThroatNode(value)">{{value}}</a>	   
						</div>						  	
				</div>

				<div class="dropdown item" >
					 <div ng-click="logic.clearCanvas()">Clear</div>	   
				</div>

			</div> -->

			<div class="right_menu ui secondary vertical menu node-menu" id="node-menu">

				<div class="ui dropdown item design" id="logic-menu" ng-click="logic.showModal('pores')">					   
					    Execute					   					  	
				</div>

				<div class="ui dropdown item design" id="throat-menu" ng-click="logic.showModal('throats')">
					Execute					    			  	
				</div>

				<div class="right_menu ui dropdown item design" >
					 <div ng-click="logic.removeNode()">Remove</div>	   
				</div>

			</div>
			
			<div id="modal_design">
				<div class="modal_div">
					<div class="header">Create {{logic.type}} Logic</div>
					<div class="ui input">
					  <input type="text" ng-model="logic.input_name" placeholder="Logic Name...">
					</div>
					<div class="button-group">
						<button class="button-primary" ng-show="logic.type_flag" ng-click="logic.createPoreLabel()">
						  Execute
						</button>
						<button class="button-primary" ng-show="logic.type_flag!=true" ng-click="logic.createThroatLabel()">
						  Execute
						</button>
					</div>
					
				</div>
			</div>

			{% endverbatim %}
			{% include 'pages/popups/label.html' %}
		</div>
		







		</div>
		
		
	
	



