{% verbatim %}

<div class="models-panel" >
<div class="close_button" close-sidebar><i class="material-icons">clear</i></div>

<div class="models-main">
	<div class="sub_models">
	<div class="column">
		<div class="header">
	         <h2>Save models</h2>
	    </div>
	</div>
	<div class="column">
		<label class="label_radio" id="0x61">
			Pore
			<input type="radio" id="0x61" name="category" ng-model="model.prefix" value="pore">
			<span class="checkmark"></span>
		</label>
		
		<label class="label_radio" id="0x62">Throat
			<input type="radio" id="0x62" name="category" ng-model="model.prefix" value="throat">
			<span class="checkmark"></span>
		</label>
		
	</div>
	<div class="column">
		<label for="0x60">Property Name</label>
		<input type="text" id="0x60" ng-model="model.propname"  placeholder="Enter propname...">
	</div>
	
	<div class="column">
		<label for="0x63">Types</label>
		<select id="0x63" class="popups" ng-model="model.name"  ng-disabled="model.disabled;">
				<option ng-repeat="names in model.getModelNames()" value="{{names}}">{{names}}</option> 
		</select>
	</div>
	<div class="column">
		<label for="0x64">Methods</label>
		<select id="0x64" class="popups" ng-model="model.method" ng-disabled="model.disabled;">
			<option ng-repeat="methods in model.getModelMethods(model.name)" value="{{methods}}">
					{{methods}}
			</option>
		</select>
	</div>

	<div class="column" ng-repeat="(key ,value) in model.getModelInputs(model.name,model.method)"  ng-hide="model.blacklist(key)==true" >
			
			<label for="{{key}}_0x400">{{key}}:  </label><input type="text" id="{{key}}_0x400" ng-model="model.inputs[key]" ng-init="model.inputs[key]=value" >

	</div>
	
	<div class="column">
	<div class="button-group left">
		<button class="button-primary" ng-click="model.attachModel(network.open_project)">Save</button>
		<button class="button-primary" ng-click="model.removeModelBox()">Clear form</button>
	</div>
	</div>


	</div>


	<div class="sub_models">
			<div class="column">
				<div class="header">
			         <h2>View models</h2>
			    </div>
			</div>
		     <button class="button-primary" ng-click="model.showBuiltIns=true;model.builtclass='button-disabled';model.attachclass=''" ng-class="model.builtclass">BuiltIn models</button>
		     <button class="button-primary" ng-click="model.showBuiltIns=false;model.builtclass='';model.attachclass='button-disabled'" ng-class="model.attachclass">Attached models</button>
			<div ng-repeat="(k,v) in model.getBuiltModels(network.open_project)" ng-show="model.showBuiltIns">
				<div ng-click="model.populateModels(network.open_project,k)" class="attach_model_text">{{k}}<i class="material-icons grid position" ng-click="model.removeModelBuiltIn(network.open_project,v)" >delete</i></div>
			</div>		
			<div ng-repeat="(k,v) in model.getAttachedModels(network.open_project)" ng-show="!model.showBuiltIns">
			  		<div ng-click="model.initInputs(network.open_project,k)" class="attach_model_text">{{k}}<i class="material-icons grid position" ng-click="model.removeModel(network.open_project,k)" >delete</i></div>
			</div>
		
		
	</div>
</div>
</div>

	{% endverbatim %}