{% verbatim %}
<div class="type_header">Phase</div>
<div class="description">	
	<div >		
		<div class="column">
				<span class="phase text">Name:{{phase.name}}</span>
		</div>
		<div class="column">
				<span class="phase text">Type:{{phase.type}}</span>
		</div>
	</div>
	<div class="column grid">	
		<i class="material-icons grid" ng-click="main.removePhase(network.open_project,phase.name)">delete</i>		
		<i class="material-icons grid" ng-click="main.viewModels('phases',phase.name,phase.type)" show-sidebar>settings</i>	
	</div>
	

</div>
{% endverbatim %}