{% verbatim %}
<div class="type_header">Physics</div>
<div >
<div class="column">
	<span>Name:</span>
	<span ng-bind="main.getPhysicsBoth(geo.name,phase.name)">
	</span>
</div>
<div class="column">
	<span>Type:<span ng-bind="main.getPhysicsData(geo.name,phase.name).type"></span></span>
</div>

<div class="ui column">
	<button class="button-primary" ng-click="main.removePhysicsBoth(network.open_project,geo.name,phase.name)">Remove</button>
	<button class="button-primary" ng-click="main.viewModels('physics',main.getPhysicsData(geo.name,phase.name).name,main.getPhysicsData(geo.name,phase.name).type)" show-sidebar>Models</button>
</div>	
</div>
{% endverbatim %}