<div class="dash_header">Project</div>
<div class="error" ng-class="network.errorClass" ng-bind="network.error"></div>
<div class="column">	
	<input id="0x20" type="text"  placeholder="Enter project name .." ng-model="network.project_name" ng-change="network.validateProject()">
	<button class="button-primary" ng-click="network.createProject()">Create Project</button>

</div>
<div class="drag_column">
	<input type="file" name="myfile" class="upload_file" upload-file>
	<div class="upload_pnm">
	<span>Choose a file or drag here..</span></div>
</div>

