{% verbatim %}
	
<div class="editors" ng-controller="SimulationController as simulation" ng-init="simulation.init(network.open_project)" >			
		<div   simulation-editor>
				
				<canvas  id="simulation-editor"  tabindex="0"></canvas>
				
				<div class="graph">
					<div class="options" ng-click="simulation.saveDataToDB()">
							<i class="material-icons">save</i>
					</div>
					<div class="options" ng-click="simulation.resetZoom()">
							<i class="material-icons">refresh</i>
					</div>
				</div>
			
				<div class="ui secondary vertical menu right-menu" id="right-menu">
				  <div class="ui dropdown item design">
				    <i class="dropdown icon"></i>
				    Algorithms
				    <div class="menu">			      
				      <a class="item" ng-repeat="(key,value) in simulation.getAlgorithms()" ng-click="simulation.addAlgorithm(key)">{{key}}</a>			      
				   </div>
				  </div>

				  <div class="ui dropdown item design">
				    <i class="dropdown icon"></i>
				    Phases
				    <div class="menu">			      
				     <a class="item" ng-repeat="(key,value) in simulation.phases_list" value="{{key}}" ng-click="simulation.addPhasesNode(key)">{{key}}</a>		      
				   </div>
				  </div>
				  <div class="ui dropdown item design">
					    <i class="dropdown icon"></i>
					    Tools
					    <div class="menu">
						    <div class="ui dropdown item">
							    <i class="dropdown icon"></i>
							    Pores
							    <div class="menu">			      
							      <a class="item" ng-repeat="(key,value) in simulation.pores_list" ng-click="simulation.addPoresNode(value)">{{value}}</a>			      
							   </div>
						  	</div>
						  	
						  	<div class="item" ng-click="simulation.addNode('trapping','flags',0)">Trapping</div>
						  	
						  	
						  	<div class="ui dropdown item" id="logic-menu">
								    <i class="dropdown icon"></i>
								    String
								    <div class="menu">
								    	<div class="ui dropdown item">
											<div class="ui column">
												<div class="ui input">
												  <input type="text" ng-model="simulation.string_value" placeholder="Value ... ">
												</div>
												<button class="ui button" ng-click="simulation.addNode(simulation.string_value,'numbers',0)">
												  Create
												</button>												 
											</div>
										</div>	   
									</div>						  	
							</div>

						  	<div class="ui dropdown item">
							    <i class="dropdown icon"></i>
							    Mode
							    <div class="menu">			      
							      <a class="item" ng-repeat="(key,value) in simulation.built_modes" ng-click="simulation.addNode(value,'modes',0)">{{value}}</a>			      
							   </div>
						  	</div>

						  	<div class="ui dropdown item">
							    <i class="dropdown icon"></i>
							    BC_TYPES
							    <div class="menu">			      
							      <a class="item" ng-repeat="(key,value) in simulation.bc_types" ng-click="simulation.addNode(value,'bc_types',0)">{{value}}</a>			      
							   </div>
						  	</div>

						</div>
					 </div>	
						  
			</div>
			
			 <div class="ui secondary vertical menu node-menu" id="node-menu">			  
				   <div class="ui dropdown item design">
				    <i class="dropdown icon"></i>
				    Properties
				    <div class="menu">			      
				      <a class="item" ng-repeat="(key,value) in simulation.getAlgorithmsMethods()" ng-click="simulation.addMethodNode(key)">{{key}}</a>			      
				   </div>
				  </div>
				  <a class="item design" ng-click="simulation.run(network.open_project)">Run algorithm</a>					 
				  <a class="item design" ng-click="simulation.remove()">Remove</a>		  
			</div>
			

			

		</div>		
		
		
		
	
	
			
</div>


{% endverbatim %}
