{% verbatim %}
<div ng-controller="LabelController as label" ng-init="label.init(network.open_project)" ng-if="label.show==label.show">


	<div class="editor" execute-network>
		<div id="canvas"></div>
		<div class="side-viewer">
			<label for="name" class="color-white">Name:</label> 	
			<input type="text" placeholder="Name" id="cube-name"  ng-model="label.label_name">	
			<div class="cube-design">
				<label for="planex" class="color-white">X:(<span>{{label.x_axis}}</span>)</label>
				<input  class="ui range" type="range" ng-model="label.x_axis" min="0"  class="slider" id="planex" step="0.01"><br>
				<label for="planey" class="color-white">Y:(<span>{{label.y_axis}}</span>)</label><br><br>
				<input  type="range" min="0"   ng-model="label.y_axis" class="slider" id="planey" step="0.01"><br><br>
				<label for="planez" class="color-white">Z:(<span>{{label.z_axis}}</span>)</label><br><br>
				<input  type="range" min="0"  ng-model="label.z_axis" class="slider" id="planez" step="0.01"><br><br>
				<label for="width" class="color-white" >Width:(<span>{{label.width}}</span>)</label><br><br>
				<input type="range" min="0"  ng-model="label.width" class="slider" id="width" step="0.01"><br><br>
				<label for="height" class="color-white">Height:(<span>{{label.height}}</span>)</label><br><br>
				<input  type="range" min="0"   ng-model="label.height" class="slider" id="height" step="0.01"><br><br>
				<label for="depth" class="color-white">Depth:(<span id="label-depth">{{label.depth}}</span>)</label><br><br>
				<input  type="range" min="0"  ng-model="label.depth" class="slider" id="depth" step="0.01"><br><br> 	
			</div>
			<div class="sphere-design">
				<label for="spherex" class="color-white" >X:(<span id="label-xsphere"></span>)</label><br>
				<input  class="ui range" type="range" min="0"  class="slider" id="spherex" step="0.01"><br>
				<label for="spherey" class="color-white" >Y:(<span id="label-ysphere"></span>)</label><br>
				<input  type="range" min="0"   class="slider" id="spherey" step="0.01"><br>
				<label for="spherez" class="color-white" >Z:(<span id="label-zsphere"></span>)</label><br>
				<input  type="range" min="0"  class="slider" id="spherez" step="0.01"><br>
				<label for="radius" class="color-white" >Radius:(<span id="label-radius"></span>)</label><br>
				<input type="range" min="0"  class="slider" id="radius" step="0.01"><br> 	
			</div>



			<div class="column" id="style-2">
				<div style="color:white;"  ng-repeat="(key,value) in label.getCustomLabels()" >{{key}}</div>	
			</div>

			<div>
				<button class="button-primary"  ng-click="label.addLabel('cube')" >Add</button>
				<button class="button-primary"  ng-click="label.applyLabels(network.open_project)">Apply</button>
			</div>
		</div>
	</div>

</div>
{% endverbatim %}
