    {% verbatim %}
<div class="network-container" ng-init="network.getNetwork()" >
    <i class="material-icons back" ng-click="network.network_flag=false;">clear</i>
	<div class="header">
		<h1> Create new network</h1>
	</div>
	<label for="network_name">Network Name</label>
    <input type="text" id="network_name" ng-model="network.network_name">
    <br>
    <label for="0x46"> Network type </label> 

   	<div class="network-type" dropdown>{{network.select_type}}
	</div>
    <div class="dropdown-menu network-type">
    	<ul>
    		<li ng-repeat="(key,value) in network.getNetworkData()" ng-hide="network.blacklist(key.toLowerCase(),network.blacklist_networks)==true" ng-click="network.select_type=key;network.inputs={}">{{key}}</li>
    	</ul>
    </div>
    <div ng-repeat="(param,data) in network.getNetworkInputs(network.select_type)" ng-hide="network.blacklist(param,network.blacklist_inputs)==true"> 
        <label for="0x45">{{param | uppercase}}</label>
        <input type="text" id="0x45" ng-model='network.inputs[param]' ng-init="network.inputs[param]=data">
    </div>
    <div class="button-group">
        <button  class="button-primary" ng-click="main.createNetwork(network);">
            Create network
        </button>
    </div>
     {% endverbatim %}

</div>

