{% verbatim %}
 <div ng-controller="MainController as main" ng-init="main.init()">
    <div class="common-header" init-main="link">      
            <a  ng-click="network.gridPage()" class="selected">Grid</a>
            <a  ng-click="network.simulationPage()" >Simulation</a>    
            <a  ng-click="network.labelPage()" >Labelling</a>
            <a  ng-click="network.vizPage()">Visual</a>     
    </div> 


    {% endverbatim %}
    <div ng-if="network.viz_page">
         {% include 'pages/divisions/visual.html' %}
    </div>
    <div class="help">
        {% include 'pages/divisions/help.html' %}
    </div>
    <div class="models" ng-controller="ModelController as model">
        {% include 'pages/divisions/models.html' %}
    </div>
    <div class="main-content"  ng-if="network.grid_page">
        {% include 'pages/table.html' %}
    </div>
    <div ng-if="network.simulation_page">
        {% include 'pages/divisions/simulation.html' %}
    </div>
    <div ng-if="network.label_page">
         {% include 'pages/divisions/logic.html' %}
    </div>
    
    
 
    
    <div class="ajax_response">
        <div class="heading">
            Error
        </div>
        <div class="message">
        </div>
    </div>
 </div>
