{% verbatim %}
<div class="dash_board">
	<div class="dash_header">Settings</div>
	<div  ng-init="network.getSettings(true)">

	<div class="column">
		<div class="property">Show tutorial at startup</div>
		<label class="switch" settings>
		  <input type="checkbox" ng-model="network.settings_inputs['tutorial']">
		  <span class="slider"></span>
		</label>
	</div>

	<div class="column">
		<div class="property">Theme</div>
		<select ng-model="network.settings_inputs['theme']" class="popups">
			<option value="default_theme">Default_theme</option>
			<option value="black_theme">Black_theme</option>
		</select>
	</div>
	<button class="button-primary apply" ng-click="network.applySettings()">Apply</button>



	</div>
</div>
{% endverbatim %}