	{% verbatim %}
<div class="scrollable" >
<div ng-if="network.hide_table==true" class="network_create" ng-click="network.network_flag=true;" ng-init="network.containsNetwork()" start-tour="network">
	    		<div id="tour02">
		    		<i class="material-icons">add</i>
		    		<div>Network</div>	    		
	    		</div>
</div>
{% endverbatim %}
	<div class="network_modal" ng-if="network.network_flag" start-tour="create_network">
		
			{% include 'pages/create.html' %}
	</div>
{% verbatim %}	
<table  ng-if="network.hide_table==false" init-main="scrollable" >
	  
	    <tr>
	    	<td class="td-design" >
	    		<div>Network name: {{network.getNetworkInfo().name}}</div>
	    		<div>Network type: {{network.getNetworkInfo().type}}</div>
	    					
	    	</td>
	    	
		    <td ng-repeat="phase in main.getPhases()" class="phase_info">
		    {% endverbatim %}
		    	{% include 'pages/divisions/phase.html' %}
		    	{% verbatim %}
		    </td>
		    <td  class="phase_create"    append-dropdown="modal_phases"> 
		    	<i class="material-icons">add</i>
	    		<div>Phase</div>	    		
		    </td>
		    {% endverbatim %}
	    		<div id="modal_phases" ng-controller="PhasesController as phases" ng-init="phases.init()" 
	    			class="phase_popup">{% include 'pages/popups/phase.html' %}</div>
	    	{% verbatim %}

	  	</tr>

	    <tr  ng-repeat="geo in main.getGeometry()"  >
	      <td class="geometry_info" >
	      		{% endverbatim %}
	      	 		{% include 'pages/divisions/geometry.html' %}	
	      	
	      </td>
	       

	      <td     ng-repeat="phase in main.getPhases()" >
	      	{% verbatim %}
	      	
		      	<div class="physics_create"  append-dropdown="modal_physics"  
		      			ng-hide="main.getPhysicsBoth(geo.name,phase.name)" drop-me project-name="{{network.open_project}}" 
		      			geometry-name="{{geo.name}}" phase-name="{{phase.name}}"  ng-click="main.update(geo.name,phase.name)" >
		      		<i class="material-icons">add</i><div id="drop_text" >Physics</div>
		      	</div>{% endverbatim %}	
		      		<div id="modal_physics" ng-controller="PhysicsController as physics" ng-init="physics.init()" 
		    			class="physics_popup" >{% include 'pages/popups/physics.html' %}</div>
			        

			    	{% verbatim %}
			    <div  class="physics_info" ng-show="main.getPhysicsBoth(geo.name,phase.name)" draggable ="true" 
			    		drag-me physics-name="{{main.getPhysicsBoth(geo.name,phase.name)}}" project-name="{{network.open_project}}" >{% endverbatim %}		    	
			    	    {% include 'pages/divisions/physics.html' %}	
			    </div>	    
		    
	      </td>
	      	
	    		
	    

	    </tr>
	    <tr >
	    	<td  class="geometry_create"   flag="true" append-dropdown="modal_geometry"  >
	    		<i class="material-icons">add</i>
	    		<div>Geometry</div>		    	
	    	</td>
	    	
	    	<div  ng-controller="GeometryController as geometry" ng-init="geometry.init()" class="geometry_popup"
	    			id="modal_geometry"  >{% include 'pages/popups/geometry.html' %}</div>
	    </tr>
</table>
	
</div>
