{% verbatim %}
    <div class="inside">

      <div class="header">
         <h2 ng-bind="geometry.header_string"></h2>
      </div>
      <div class="column">  
        <label for="0x51">Name</label>
        <input type="text" id="0x51" placeholder="Enter geometry name .." ng-model="geometry.name"> 
      </div>
      <div class="column"> 
        <label for ="0x55">Types</label>
        <select id="0x55" class="popups" ng-model="geometry.type">
          <option ng-repeat="(key,value) in geometry.getTypes()" value="{{key}}">{{key}}</option>                          
        </select>
          <button class="button-primary icon" ng-click="geometry.help('geometry',geometry.type)">
                      <i class="material-icons">help</i>
          </button>
      </div>
          

      <div class="column">
       <label for="0x52">Pores</label>             
       <select id="0x52" class="popups" ng-model="geometry.pores">                      	
        	<option ng-repeat="p in geometry.getPores(network.open_project) track by $index" value="{{p}}">
        	{{p}}</option>    	         
       </select> 
     </div>
                   
     
       <div class="column" >          
          <label for="0x53">Throats</label>            
          <select id="0x53" class="popups" ng-model="geometry.throats" style="margin-left: -0.7em;">        
               <option ng-repeat="throats in geometry.getThroats(network.open_project)" value="{{throats}}">
          	{{throats}}</option>	                        
          </select>          
        </div>
        
        <div class="button-group">
          
          <button class="button-primary" ng-click="geometry.add(network.open_project);" close-dropdown="modal_geometry">Create geometry</button>
        </div>      
      
      </div>
        

{% endverbatim %}     


       
       
     
   



