<div class="inside">
	<i class="material-icons back" ng-click="network.hdf5_flag=false;">clear</i>
<div class="header">
	 <h2>Files</h2>
</div>  
<div class="links_box">
	<a id="hdf">HDF</a>
	<a id="xmf">XMF</a>
	<a id="pnm">PNM</a>
</div>

</div>