<div ng-if="logic.label_modal==true" id="label_modal">
	<div class="modal_div">
		<div class="header">Create Pores Logic</div>
		<div class="ui input">
		  <input type="text" ng-model="logic.input_name" placeholder="Logic Name...">		  		  		  
		</div>
		
		<div class="labels_window">
			<div class="label_condition" ng-repeat="(key,value) in logic.conditions">
				<select class="popups" ng-model="logic.conditions[key]['direction']">
					<option value="0">X</option>
					<option value="1">Y</option>
					<option value="2">Z</option>
				</select>
				<select class="popups" ng-model="logic.conditions[key]['operation']">
					<option value="=">=</option>
					<option value="<"><</option>
					<option value=">">></option>
					<option value="<="><=</option>
					<option value=">=">>=</option>
				</select>
				<input type="text" ng-model="logic.conditions[key]['coords']" placeholder="Logic Name...">
				<div class="remove_label_button" ng-click="logic.removeConditions(key)"><i class="material-icons">close</i></div>
				<select class="popups" ng-model="logic.conditions[key]['mask']" style="display: block">
					<option value="*">AND</option>
					<option value="+">OR</option>
					<option value="^">XOR</option>
				</select>
				
			</div>
		</div>
		<div class="line">
			<div class="button-primary" ng-click="logic.addConditions()"><i class="material-icons">add</i><span>Condition</span></div>
		<div>
		<button class="button-primary" ng-click="logic.applyConditions(network.open_project)">Apply</button>
	</div>
</div>