{% verbatim %}
<div class="inside">
<div class="header">
	 <h2>Create new phase</h2>
</div>  
<label for="0x49">Name</label>
<input type="text" id="0x49" placeholder="Enter phase name .." ng-model="phases.name">
<div>
  <label for="0x50">Types</label> 
  <select  id="0x50" class="popups" ng-model="phases['type']" >
          <option ng-repeat="(key,value) in phases.getTypes()" value="{{key}}">{{key}}</option>                          
  </select>
   <button  class="button-primary icon" ng-click="phases.help('phases',phases.type)">
                     <i class="material-icons">help</i>
  </button>
 
<div>
 <div class="button-group">
    
    <button  class="button-primary" ng-click="phases.add(network.open_project)" close-dropdown="modal_phases">
            Create phase
    </button>
 </div>      
</div>


{% endverbatim %}
          
               
      
    
      


       
     