{% verbatim %}
<div class="inside">
<div class="header">
 <h2>Create new physics</h2>
</div>
<label id="0x56">Name</label>
<input id="0x56" type="text"  placeholder="Enter physics name .." ng-model="physics.name">
<div class="column" >
  		<label id="0x57">Type</label>
        <select id="0x57" class="popups" ng-model="physics.type">
          <option ng-repeat="(key,value) in physics.getTypes()" value="{{key}}">{{key}}</option>          
        </select>
</div>
<div class="button-group">
	
	<button class="button-primary" ng-click="physics.add(network.open_project,main.geometry_name,main.phase_name)" close-dropdown="modal_physics">Attach</button>	
</div>
</div>

{% endverbatim %}     