{% load static %}
<html ng-app="DashApp">
<head>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  

  	<!-- Compiled and minified JavaScript -->

  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Strait" rel="stylesheet">
  	<link rel="stylesheet" href="{% static '/css/drop-theme-arrows.min.css' %}"/>
  	{% if theme == 'default_theme' %}
		<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static '/css/black-login.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/black-main.css' %}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/menu.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/dropdown.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/transition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/prism.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/hopscotch.min.css' %}">

  <!-- Compiled and minified JavaScript -->
 
</head>
<body class="dashboard">
	    	{% verbatim %}

	<div class="container" ng-controller="NetworkController as network" ng-init="network.loadNetwork()" >
		<div class="loading" loading>
			<div class="loader-logo">OPENPNM</div>
			<div class="loader"></div>
		</div> 
	 	 <nav>
	 	 	<div class="profile-section">
	 	 		<div class="header logo" init-main  start-tour="dashboard">
	 	 			<img src="/assets/img/logow.png">			   		  
	 	 		</div>

	 	 		<div class="user-name">
	 	 			<div class="icon-style" ng-click="network.dashboard()">
	 	 				<span class="tooltiptext">Home</span>
	 	 				<i class="material-icons">home</i>	 	 				
	 	 			</div>
	 	 			<div class="icon-style" ng-click="network.settings()">
	 	 				<span class="tooltiptext">Settings</span>
	 	 				<i class="material-icons">settings</i>
	 	 			</div>				    
				    <div class="icon-style" ng-click="network.logout()">
				    	<span class="tooltiptext">Logout</span>
				    	<i class="material-icons">exit_to_app</i>
				    </div>
	 	 		</div> 		 	 
	 	 	</div>
	 	 	<div class="networks-list">
		
		    	<ul id="project_list">
		    		<li class="list" ng-repeat="(key,value) in network.getProjectList()" 
		    			ng-click="network.viewProject(key);network.selectClass($event.currentTarget)" data-name="{{key}}" >
		    				<a href="">{{key}}</a>
		    				<div class="ui dropdown options">
				    			&#x22EF;
				    			<div class="menu">
				    				<div class="item" ng-click="network.download(network.open_project)">Download files</div>
				    				<div class="item" compile-network project="network.open_project">Download Script</div>
				    				<div class="item" ng-click="network.removeNetwork(network.open_project)">Remove Project</div>
				    			</div>
				    		</div>    
		    		</li>
		    	</ul>
		    </div>
		 </nav>
		 {% endverbatim %}

		 <main >
		 	<div ng-if="network.settings_flag">		 		
		 		{% include 'pages/settings.html' %}
		 	</div>
		 	<div ng-if="network.main_page" >
		 		{% include 'pages/divisions/main.html' %}
		 	</div>
		 	<div ng-if="network.project_view">
		 		{% include 'pages/project.html' %}
		 	</div>

		 </main>
		
		<div class="hdf5_modal" ng-show="network.hdf5_flag">
			{% include 'pages/popups/h5modal.html' %}			
		</div>
	</div>

   
    
</body>



<!-- vendor js files -->
<script src="{% static '/vendor/jquery.min.js' %}"></script>
<script src="{% static '/vendor/ngAlertify.js' %}"></script>
<script src="{% static '/vendor/prism.js' %}"></script>
<script src="{% static '/vendor/hopscotch.min.js' %}"></script>
<script src="{% static '/vendor/codeflask.min.js' %}"></script>
<script src="{% static '/vendor/litegraph.js' %}"></script>
<script src="{% static '/vendor/three.js' %}"></script>
<script src="{% static '/vendor/TrackballControls.js' %}"></script>
<script src="{% static '/vendor/DragControls.js' %}"></script>
<script src="{% static '/vendor/dimmer.min.js' %}"></script>
<script src="{% static '/vendor/transition.min.js' %}"></script>
<script src="{% static '/vendor/modal.min.js' %}"></script>
<script src="{% static '/vendor/dropdown.min.js' %}"></script>

<script src="{% static '/js/init.js' %}"></script>

<!-- services -- >


<!--controllers-->
<script src="{% static '/js/controllers/network.js' %}"></script>
<script src="{% static '/js/controllers/main.js' %}"></script>
<script src="{% static '/js/controllers/geometry.js' %}"></script>
<script src="{% static '/js/controllers/phase.js' %}"></script>
<script src="{% static '/js/controllers/physics.js' %}"></script>
<script src="{% static '/js/controllers/model.js' %}"></script>
<script src="{% static '/js/controllers/logic.js' %}"></script>
<script src="{% static '/js/controllers/simulation.js' %}"></script>
<script src="{% static '/js/controllers/visuallabel.js' %}"></script>
<script src="{% static '/js/services/servercalls.js' %}"></script>
<script src="{% static '/js/services/general.js' %}"></script>

<!-- directives -->
<script src="{% static '/js/directives/compile-network.js' %}"></script>
<script src="{% static '/js/directives/append-dropdown.js' %}"></script>
<script src="{% static '/js/directives/close-dropdown.js' %}"></script>
<script src="{% static '/js/directives/close-sidebar.js' %}"></script>
<script src="{% static '/js/directives/drag-me.js' %}"></script>
<script src="{% static '/js/directives/drop-me.js' %}"></script>
<script src="{% static '/js/directives/dropdown.js' %}"></script>
<script src="{% static '/js/directives/init-main.js' %}"></script>
<script src="{% static '/js/directives/execute-network.js' %}"></script>
<script src="{% static '/js/directives/node-editor.js' %}"></script>
<script src="{% static '/js/directives/show-sidebar.js' %}"></script>
<script src="{% static '/js/directives/simulation-editor.js' %}"></script>
<script src="{% static '/js/directives/loading.js' %}"></script>
<script src="{% static '/js/directives/tour.js' %}"></script>
<script src="{% static '/js/directives/upload-file.js' %}"></script>
<script src="{% static '/js/directives/settings.js' %}"></script>

<!-- factory -->
<script src="{% static '/js/factory/localdata.js' %}"></script>
<script src="{% static '/js/factory/tourdata.js' %}"></script>




</html>