{% load static %}
{% csrf_token %}
<html ng-app="LoginApp" >
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      
         <!-- Compiled and minified CSS -->
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  <!-- Compiled and minified JavaScript -->
 
    </head>
    <body ng-controller="LoginController"  init-login validation >
    	
    	<div class="logo-tag"><img src="{% static '/img/logo.png' %}"></div>
    	<div class="login-block">
    	<form ng-submit="submit('login')">
		    <h1>Login</h1>
		    <div class="error_message"></div>
		     <input id="login-username" ng-model="login_name" type="text" placeholder="Enter Username ...">	
		     <input id="login-password" ng-model="login_pass" type="password" placeholder="Enter Password ...">
		     <button>Submit</button>
		</form>
			<div>
				<a  href="/api/github"><i class="fa fa-github"></i> Sign in with github</a><br>
				<a href="/web/signup/">Create an acccount</a>
			</div>
		</div>
		    	
		
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script src="{% static '/js/init.js' %}"></script>
<script src="{% static '/js/controllers/login.js' %}"></script>
<script src="{% static '/js/directives/init-login.js' %}"></script>
<script src="{% static '/js/directives/validation.js' %}"></script>

</html>



