{% load static %}
{% csrf_token %}
<html ng-app="LoginApp" >
    <head>
       
         <!-- Compiled and minified CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  <!-- Compiled and minified JavaScript -->
  
    </head>
    <body ng-controller="LoginController"  init-login validation >
    	
    	<div class="logo-tag"><img src="{% static '/img/logo.png' %}"></div>
    	<div class="login-block">
	    	<form ng-submit="submit('create')">
			    <h1>Sign Up</h1>
			    <div class="error_message"></div>
			     <input id="login-username" ng-model="username" type="text" placeholder="Enter Username ...">	
			     <input id="email" ng-model="email" type="email" placeholder="Enter Email ..." >	
			     <input id="login-password" ng-model="password" type="password" placeholder="Enter Password ...">

			     <button>Sign Up</button>
			</form>
			<div>
				<a href="/web/login/">Log In</a>
			</div>	   
		</div>
	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script src="{% static '/js/init.js' %}"></script>
<script src="{% static '/js/controllers/login.js' %}"></script>
<script src="{% static '/js/directives/init-login.js' %}"></script>
<script src="{% static '/js/directives/validation.js' %}"></script>

</html>


